<%= render "navigation" %>

<script>
	/********* Your JavaScript ***********/
	$(document).ready(function() {
	    $containing_div = $('#tweets');	
	    var url = '/tweets';
		setInterval(function(){
		    $.ajax({
		                        /* Included so Rails responds via "format.js" */
		        success         : function(response) { $containing_div.html(response); },
				error			: function(response) { $containing_div.html(response); },
		        type            : 'get',
		        url                 : url
		    });
		    return false;
		},15000);
		
        $('.dynamicsparkline').sparkline('html',{

			spotRadius : 2,
			height: '20px',
			width: '40px'
		});
	});
</script>

<div class="container" id="main">
	<div class="row">
		<%= render "intro" %>
	</div>
	
	<hr/>
	
	<div class="row">
		<h3 class="span4">Tracking these keywords: </h3>
		<div class="span12">
			<ul class="unstyled right">
				<%= render :partial => "keyword", :collection => @keywords %>
			</ul>		
		</div>
	</div>
	
	<hr/>
	<div class="row">
		<div class="span8">
			<h1>Leaderboard <small>Top 20</small></h1>
			<%= render :partial => "leaders", :locals => { :leaders => @users } %>
		</div>
	
		<div class="span8">
			<h1>Recent Tweets <small>Real-time tweets</small></h1>
			<%= render "tweets/tweets" %>
			<div id="mydiv"></div>
		</div>
	</div>
</div>