<%= render "banner" %>

<script>
	/********* Your JavaScript ***********/
	$(document).ready(function() {
	    $containing_div = $('#tweets');	
	    var url = '/tweets';
		setInterval(function(){
		    $.ajax({
		        //beforeSend      : function(request) { request.setRequestHeader("Accept", "text/javascript"); },
		                        /* Included so Rails responds via "format.js" */
		        success         : function(response) { $containing_div.html(response); },
				error			: function(response) { $containing_div.html(response); },
		        type            : 'get',
		        url                 : url
		    });
		    return false;
		},15000);
	});
</script>

<div class="container">
	<%= render "intro" %>
	
	<hr/>
	
	<h1 class="alt span-9">Tracking these keywords: </h1>
	<div class="span-15 last">
		<ul class="inline right">
			<%= render :partial => "keyword", :collection => @keywords %>
		</ul>
		<hr class="space" />
	</div>
	
	<hr/>
	<div class="span-11 colborder">
		<h2>Leaderboard</h2>
		<h3 class="quiet">Top 20</h3>
		<%= render :partial => "leaders", :locals => { :leaders => @users } %>
	</div>
	
	<div class="span-12 last">
		<h2>Recent Tweets</h2>
		<h3 class="quiet">Real-time tweets</h3>
		<div id="tweets">
				<%= render "tweets/tweets" %>
		</div>
		<div id="mydiv"></div>
	</div>
</div>