<%= render "banner" %>

<div class="container">
	<%= render "intro" %>
	
	<hr/>
	
	<h1 class="alt span-9">Tracking these keywords: </h1>
	<div class="span-15 last">
		<ul class="inline right">
			<%= render :partial => "keyword", :collection => @keywords %>
		</ul>
		<hr class="space" />
	</div>
	
	<hr/>
	<div class="span-11 colborder">
		<h2>Leaderboard</h2>
		<h3 class="quiet">Top 20</h3>
		<%= render :partial => "leaders", :locals => { :leaders => @users } %>
	</div>
	
	<div class="span-12 last">
		<h2>Recent Tweets</h2>
		<h3 class="quiet">Last 20 tweets</h3>
		<%= render :partial => "tweets", :object => @tweets %>
	</div>
</div>