<!DOCTYPE html>
<html>
<head>
  <title>The bird is the worde</title>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
	<%= stylesheet_link_tag 'custom', :media => 'screen' %>

	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'%>
	<%= javascript_include_tag 'jquery.sparkline.min.js'%>
	
	<script>
		<!-- Google Analytics Piece -->

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26186265-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
	<%= csrf_meta_tag %>
</head>
<body>

	<%= yield %>
	
	<script>
	
		jQuery(document).ready(function($){			
			$('.close').click(function(e){
				e.preventDefault();
				$(this).closest('.block-message').toggle('medium');
			});
		});
	
	</script>

</body>
</html>
