<!DOCTYPE html>
<html>
<head>
  <title>The bird is the worde</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
	<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
	<%= stylesheet_link_tag 'blueprint/src/typography', :media => 'screen'%>
	<%= stylesheet_link_tag 'blueprint/plugins/fancy-type/screen',  :media => 'screen' %>	
	<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	<%= stylesheet_link_tag 'custom', :media => 'screen' %>

	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'http://ejohn.org/files/retweet.js'%>
	
	<script>
		RetweetJs.bitly_user = 'wwnolte@gmail.com'
		RetweetJs.bitly_key = 'R_bd027c47dde6fe296953faeacff5addd'
	</script>
	
	<%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
